*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto;
}
/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.items ul {
    display: flex;
    gap: 48px;
}
.items ul li{
    list-style: none;
}
.item:nth-child(2), .item:nth-child(3){
    color: rgb(137, 135, 161);
}
.item:nth-child(4) {
    margin-right: 10px;
}

/* banner section */
.banner{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    align-items: end;
    height: 461px;
}
.title{
    font-size: 65px;
    font-weight: 700;
}
.orange{
    color: rgb(233, 90, 8);
}
.sub-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}
.banner div img{
    display: flex;
    flex: 1;
}

/* plant section */
.plant-container{
    margin-top: 120px;
}
.plant{
    text-align: center;
}
.plant h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
} 
.plant p{
    margin-bottom: 50px;
} 
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.card{
    text-align: center;
    /* border: 1px solid skyblue; */
}  
.card h3 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card p {
    font-size: 22px;
    font-weight: 700;
}
.btn{
    background-color:  rgb(233, 90, 8);
    padding: 15px 92px;
    color: white;
    margin-top: 20px;
    border: none;
}

/* @media screen and (max-width:576px){
    .container{
        width: 361px;
        margin: auto;
    }
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3){
        visibility: hidden;
    }
    .banner{
        display: none;
    }
} */