*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto;
}
/* navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.items ul {
    display: flex;
    gap: 48px;
}
.items ul li{
    list-style: none;
}
.item:nth-child(2), .item:nth-child(3){
    color: rgb(137, 135, 161);
}
.item:nth-child(4), i {
    margin-right: 5px;
}

/* banner section */
.banner{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    align-items: end;
    height: 461px;
}
.title{
    font-size: 65px;
    font-weight: 700;
}
.orange{
    color: rgb(233, 90, 8);
}
.sub-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}
.banner div img{
    display: flex;
    flex: 1;
}

/* plant section */
.plant-container{
    margin-top: 120px;
}
.plant{
    text-align: center;
}
.plant h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
} 
.plant p{
    margin-bottom: 50px;
} 
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.card{
    text-align: center;
    /* border: 1px solid skyblue; */
}  
.card h3 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card p {
    font-size: 22px;
    font-weight: 700;
}
.btn{
    background-color:  rgb(233, 90, 8);
    padding: 15px 92px;
    color: white;
    margin-top: 20px;
    border: none;
}
/* plant lover section */
.lover {
    display: flex;
    margin-top: 150px;
}
.right{
    margin: 38px 0px 38px 60px;
}
.right h2{
    font-size: 50px;
    font-weight: 700;
}
.right ul{
    margin-left: 45px;
}
.img-container{
    position: relative;
}
.image{
    width: 250px;
    height: 250px;
    position: absolute;
    top: -90px;
    right: -90px;
}

/* latest deals section */
.deals{
    margin: 120px auto;
}
.img-content{
    display: flex;
    flex: 1;
    width: 1140px;
    gap: 20px;
}
.content div a {
    color: white;
    font-weight: 700px;
    font-size: 22px;
}
.img-3 a {
    color: white;
    font-weight: 700px;
    font-size: 22px; 
}
.middle{
    color: white;
    font-weight: 700;
}
.middle-1{
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.img-1{
    background-image: url(../assets/deal-bloom.png);
    /* background-image: rgba(0, 0, 0, 0.4), url(../assets/deal-bloom.png); */
    width: 365px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
}
.img-2{
    background-image: url(../assets/deal-ana.png);
    width: 365px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
}
.img-3{
    background-image: url(../assets/deal-zabo.png);
    width: 750px;
    height: 420px;
    border-radius: 10px;
    text-align: center;
    padding: 200px;
}
/* join section */
.join{
    max-width: 1440px;
    height: 520px;
    margin: auto;
    background-image: url(../assets/news-letter-bg.png);
    text-align: center;
    padding-top: 180px;
}
.join h4{
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.form input{
    padding: 8px 10px;
    width: 650px;
}
.form button{
    width: 180px;
    padding: 8px 10px;
    background-color: rgb(233, 90, 8);
    border: none;
    color: white;
}

/* footer section */
footer {
    max-width: 1440px;
    height: 200px;
    margin: auto;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}
.footer-container div li{
    margin-bottom: 30px;
    list-style: none;
    color: rgba(0, 0, 0, 0.5);
}
.footer-container div p{
    color: rgba(0, 0, 0, 0.5);
}
.footer-container div img{
   margin-right: 15px;
   margin-top: 10px;
}

@media screen and (max-width:576px){
    
    .item:nth-child(1), .item:nth-child(2), .item:nth-child(3){
        display: none;
    }
    .navbar{
        margin: 50px 16px 28px 16px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner div img{
        margin-top: 150px;
        width: 390px;
        height: 245px;
    }
    .title{
        text-align: start;
        margin: 28px 16px 10px 16px;
        font-size: 24px;
       
    }
    .sub-title{
        margin: 13px 16px 0px 16px;
    }
    .card img{
        width: 225px;
        gap: 10px;
    }
    .card-container{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       margin: 28px 14px 0px 14px;
    }
    .image{
        display: none;
    }
    .lover{
        flex-direction: column;
    }
    .lover div img{
        width: 465px;
        margin: 0 16px;
    }
    .right{
        margin: 38px 0px 38px 16px;
    }
    .right h2{
        font-size: 24px;
    }
    .right ul {
        font-size: 14px;
        margin-left: 16px;
    }
    .img-content{
        flex-direction: column;
        gap: 5px;
       
    }
    .img-1, .img-2, .img-3 {
        margin-bottom: 10px;
        margin-left: 70px;
        width: 360px;
        height: 200px;
        padding: 50px;
    }
    .middle{
        font-size: 16px;
        margin-top: 30px;
    }
    .middle-1{
        font-size: 16px;
        margin-top: 30px;
    }
    .join{
        width: 490px;
        height: 275px;
        padding: 15px;
        text-align: center;
        padding-top: 90px;
    }
    .join h4{
        font-size: 22px;
    }
    .form input{
        padding: 8px 10px;
        width: 200px;
    }
    .form button{
        width: 120px;
        padding: 8px 10px;
    }
    .footer{
        width: 576px;
    }
    .footer-container{
        flex-direction: column;
        padding: 30px;
    }
}  
